<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Registro de empleados</h3>
    <form (ngSubmit)="onSubmit()">
        
        <div class="form-group">
            <label>Nombre:</label>
            <input 
                type="text" 
                class="form-control" 
                id="nombre" 
                [(ngModel)]="empleado.nombre" 
                name="nombre" 
                required 
                placeholder="Digite nombre"
                minlength="4"
                maxlength="10"
                #nombrea="ngModel">
            <!--<div class="alert alert-danger" *ngIf="nombrea.invalid && (nombrea.dirty || nombrea.touched)">
                <div *ngIf="nombrea.errors?.required">
                    El nombre es requerido.
                </div>
                <div *ngIf="nombrea.errors?.minlength">
                    El nombre debe tener al menos 4 caracteres.
                </div>
                <div *ngIf="nombrea.errors?.maxlength">
                    El nombre no puede tener más de 10 caracteres.
                </div>
            </div>-->
        </div>
        
        <div class="form-group">
            <label>Apellido: </label>
            <input type="text" class="form-control" id="apellido" [(ngModel)]="empleado.apellido" name="apellido">
        </div>
        <div class="form-group">
            <label>Email: </label>
            <input type="email" class="form-control" id="email" [(ngModel)]="empleado.email" name="email">
        </div>
        
        <button class="btn btn-success">Guardar</button>
    </form>
</div>